.login_button_container{
    margin-top: 1rem;
    display: flex;
    width: 20rem;
    justify-content: space-between;
}

.login_link_container{
    display: flex;
    margin-top: 10px;
}

.login_link{
    cursor: pointer;
    color: darkblue;
    text-decoration: underline;
}
.error-message{
    margin-top: 5px;
    color: red;
}

.card {
    width: 25rem;
    height: fit-content;
    margin: auto;
    margin-top: 20px;
}
